<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>persistenceKey</key>
		<string>keyA</string>
		<key>persistenceType</key>
		<integer>1</integer>
		<key>filePosition</key>
		<string>Document/User/</string>
		<key>fileName</key>
		<string>a.text</string>
	</dict>
	<dict>
		<key>persistenceKey</key>
		<string>keyB</string>
		<key>persistenceType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>persistenceKey</key>
		<string>keyC</string>
		<key>persistenceType</key>
		<integer>1</integer>
		<key>filePosition</key>
		<string>Document/User/</string>
		<key>fileName</key>
		<string>c.text</string>
	</dict>
	<dict>
		<key>persistenceKey</key>
		<string>keyD</string>
		<key>persistenceType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>persistenceKey</key>
		<string>keyE</string>
		<key>persistenceType</key>
		<integer>1</integer>
		<key>filePosition</key>
		<string>Document/User/EEE</string>
		<key>fileName</key>
		<string>EEEEE.text</string>
	</dict>
	<dict>
		<key>persistenceKey</key>
		<string>keyF</string>
		<key>persistenceType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>persistenceKey</key>
		<string>keyG</string>
		<key>persistenceType</key>
		<integer>1</integer>
		<key>filePosition</key>
		<string>Document</string>
		<key>fileName</key>
		<string>G.text</string>
	</dict>
	<dict>
		<key>persistenceKey</key>
		<string>keyH</string>
		<key>persistenceType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
